aiohttp==3.11.11
aiosignal==1.3.2
async-timeout==5.0.1
attrs==24.3.0
charset-normalizer==3.4.1
discord.py==2.4.0
frozenlist==1.5.0
# idna==3.4
multidict==6.1.0
yarl==1.18.3
# audioop is needed to run cookie in python 3.13 unstable. Will not be needed when 3.13 becomes stable and discord.py supports it.
audioop-lts==0.2.1